<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/menu.css" />
<link rel="stylesheet" type="text/css" href="/css/main.css" />

<body>
  <div id="main_container">
    <div class="group_name">
      <ul class="nav justify-content-center">
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link active" href="/abu_tech">Home</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/abu_tech/all-shops">All Shops</a>
        </li>
        <li
        class="nav-item"
        style="cursor: pointer"
        >
        <a class="nav-link"  href="/abu_tech/all-events">Events</a>
        </li>
        <li
          class="nav-item"
          style="cursor: pointer"
          onclick="return confirm('Do you want to logout?')"
        >
          <a class="nav-link" href="/abu_tech/logout">Logout</a>
        </li>
      </ul>
    </div>

    <div class="shop_menu_frame">
      <div class="shop_container">
        <div class="shops_table">
          <span class="new_dish_txt"> Barcha Do'konlar Ro'yhati</span>
          <table class="table">
            <thead class="thead-light">
              <tr class="thead-light">
                <th scope="col">T/r</th>
                <th scope="col">Do'kon Nomi</th>
                <th scope="col">Do'kon Telefon Raqami</th>
                <th scope="col">Do'kon Top</th>
                <th scope="col">Do'kon Holati</th>
              </tr>
            </thead>

            <% shops_data.map((value, key) => { %>

            <tbody style="background-color: #fff">
              <td><%= key + 1 %></td>
              <td><%= value.mb_nick %></td>
              <td><%= value.mb_phone %></td>
              <td style="width: 13%">
                <!-- <label for="" class="switch">
                  <input type="checkbox" class="mb_top" />
                  <span class="slider around"></span>
                </label> -->
                <!-- <label class="slider">
                  <input type="checkbox" class="mb_top" />
                  <span class="slider-switch around"></span>
                </label> -->
                <label class="custom-checkbox">
                  <input type="checkbox" class="mb_top" id="<%= value._id %>"
                  <%= value.mb_top === 'Y' ? 'checked' : '' %> />
                  <span class="checkbox-slider around"></span>
                </label>
              </td>
              <td style="width: 13%" cl>
                <select class="spec_select mb_status" name="" id="<%= value._id %>">
                  <option value="ONPAUSE"  <%= value.mb_status === "ONPAUSE" ? "selected" : "" %> >ONPAUSE</option>
                  <option value="ACTIVE"  <%= value.mb_status === "ACTIVE" ? "selected" : "" %>>ACTIVE</option>
                  <option value="DELETED"  <%= value.mb_status === "DELETED" ? "selected" : "" %>>DELETED</option>
                </select>
              </td>
            </tbody>

            <% }) %>
          </table>
          <span class="new_dish_txt" style="margin-top: 50px;"> Barcha Eventlar Ro'yhati</span>
          <table class="table table-hover table-sm">
            <thead class="thead-light">
              <tr class="thead-light">
                <th scope="col">T/r</th>
                <th scope="col">Event Nomi</th>
                <th scope="col">Event Kuni</th>
                <th scope="col">Do'kon Holati</th>
              </tr>
            </thead>

            <% events_data.map((value, key) => { %>

            <tbody style="background-color: #fff">
              <td><%= key + 1 %></td>
              <td><%= value.event_subject %></td>
              <td><%= value.event_date %></td>
          
              <td style="width: 13%" cl>
                <select class="spec_select event_status" name="" id="<%= value._id %>">
                  <option value="active"  <%= value.event_status === "active" ? "selected" : "" %> >ACTIVE</option>
                  <option value="deleted"  <%= value.event_status === "deleted" ? "selected" : "" %>>DELETED</option>
                </select>
              </td>
            </tbody>

            <% }) %>
          </table>
          <div
            class="long_input"
            style="align-items: flex-end; margin-bottom: 25px"
          >
            <button class="btn btn-primary hidding_btn">Event qo'shish</button>
          </div>
          
        </div>
        <form
          onsubmit="return validateForm()"
          class="event_container"
          action="/abu_tech/event/create"
          method="POST"
          enctype="multipart/form-data"
        >
            <div class="long_input" style="display: flex; align-items: center">
             <span class="new_dish_txt">Yangi Event</span>
            </div>
            <div>
            <div class="half_input_frame">
              <div class="half_input">
                <label for="">Event Nomi</label>
                <input
                type="text"
                placeholder="Event Title"
                name="event_subject"
                class="event_subject"
                />
              </div>
              <div class="half_input">
              <label for="">Event Date</label>
              <input
                type="date"
                placeholder="Event Date"
                name="event_date"
                class="event_date"
              />
            </div>
            </div>
            </div>
            
            <div class="half_input_frame">
              <div class="half_input">
              <label for="">Event Content</label>
              <textarea placeholder="Event Content" name="event_content" class="event_content" id="" cols="30" rows="10"></textarea>
              </div>

              <div class="half_input">
               <label for="">Event Rasmlari</label>
               <div class="event_media_frame">
               <div class="upload_img_box">
                 <img
                  src="/images/upload.png"
                  class="1"
                  id="image_section_1"
                  alt=""
                />
                <input
                  type="file"
                  id="file"
                  name="event_images"
                  class="image_one"
                  onchange="previewFileHandler(this, 1)"
                />
              </div>

              <div class="upload_img_box">
                <img
                  src="/images/upload.png"
                  class="2"
                  id="image_section_2"
                  alt=""
                />
                <input
                  type="file"
                  id="file"
                  name="event_images"
                  class="image_two"
                  onchange="previewFileHandler(this, 2)"
                />
              </div>
            </div>
            
           
          </div>
          </div>

           <div
              class="long_input"
              style="align-items: flex-end; margin-bottom: 25px"
            >
              <button type="submit" class="btn btn-primary" id="create_event">
                Chop etish
              </button>
           </div>
           <div
              class="long_input"
              style="align-items: flex-end; margin-bottom: 25px"
            >
              <button type="submit" class="btn btn-primary hidding_form_btn" id="create_event">
                Bekor Qilish
              </button>
           </div>
            
        </form>
      </div>
    </div>
  </div>
  <script>
    $(function(){
      // Manipulate shops top features

      $(".mb_top").on("change", function(e){
       const id = e.target.id;
       const mb_top = e.target.checked ? "Y" : "N";

      //  console.log(`${id} va ${mb_top}`);

      });
    
      axios.post("/abu_tech/all-shops/edit", {id: id, mb_top: mb_top}).then(response => {
        const result = response.data;
        if(result.state === "success") alert("successully updated");
        else alert(result.message)
      })
      .catch(err => console.log(err))

      })


      $(".hidding_btn").on("click", function () {
        $(".event_container").slideToggle(500);
        $(".hidding_btn").css("display", "none");
      });
      $(".hidding_form_btn").on("click", function () {
        $(".event_container").css("display", "none");
        $(".hidding_btn").slideToggle(500);
      });


      

      // Manipulate shops status features

      $(".mb_status").on("change", function(e){
       const id = e.target.id;
       const mb_status = $(`#${id}.mb_status`).val();

       console.log(mb_status);

      axios.post("/abu_tech/all-shops/edit", {id: id, mb_status: mb_status}).then(response => {
        const result = response.data;
        console.log(result)
        if(result.state === "success") alert("successully updated");
        else Swal.fire(result.message)
      })
      .catch(err => console.log(err))

      })
      $(".event_status").on("change", function(e){
       const id = e.target.id;
       const event_status = $(`#${id}.event_status`).val();

       console.log(event_status);

      axios.post("/abu_tech/all-events/edit", {id: id, event_status: event_status}).then(response => {
        const result = response.data;
        console.log(result)
        if(result.state === "success") alert("successully updated");
        else Swal.fire(result.message);
      })
      .catch(err => console.log(err))

      })
  

     function validateForm() {
      const event_subject = $(".event_subject").val(),
        event_content = $(".event_content").val(),
        event_date = $(".event_date").val()
        console.log(event_content, event_subject)

      if (
        event_subject === "" ||
        event_content === "" ||
        event_date === ""
      ) {
        // alert(`Iltimos hamma ma'lumotlarni tog'ri kiriting!`);
        Swal.fire(`Iltimos hamma ma'lumotlarni tog'ri kiriting!`);

        return false;
      } else return true;
     }
     
     function previewFileHandler(input, order) {
      console.log(input);
      const image_class_name = input.className;
      const file = $(`.${image_class_name}`).get(0).files[0],
        fileType = file["type"],
        validImageTypes = [
          "image/jpg",
          "image/jpeg",
          "image/png",
          "image/webp",
        ];

      if (!validImageTypes.includes(fileType)) {
        alert(
          `Iltimos ruhsat etilgan rasm formatdagi rasmlarni yuklang! (jpg, jpeg va png)`
        );
      } else {
        if (file) {
          let reader = new FileReader();
          reader.onload = function () {
            $(`#image_section_${order}`).attr("src", reader.result);
          };
          reader.readAsDataURL(file);
        }
      }
     }
  </script>
</body>

<%- include('includes/footer') %>
