<%- include('includes/header') %>
<link rel="stylesheet" type="text/css" href="/css/menu.css" />
<link rel="stylesheet" type="text/css" href="/css/main.css" />
<body>
  <!-- <h1>My shop page</h1>
  <% if(!member) { %>

  <h2>Siz authenticated emassiz</h2>
  <%} else { %>

  <h1>
    Siz authenticated bolgansiz, va sizning nickingiz <%=member.mb_nick %>
  </h1>
  <p>Sizning telefoningiz <%=member.mb_phone %></p>
  <% }%> -->
  <div id="main_container">
    <div class="group_name">
      <ul class="nav justify-content-center">
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link active" href="/abu_tech">Home</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/abu_tech/products/menu">My Shop</a>
        </li>
        <li
          class="nav-item"
          style="cursor: pointer"
          onclick="return  confirm('Do you want to logout?')"
        >
          <a class="nav-link" href="/abu_tech/logout">Logout</a>
        </li>
      </ul>
    </div>

    <div class="shop_menu_frame">
      <div class="shop_container">
        <div class="dish_table">
          <span class="new_dish_txt">
            <%=member.mb_nick.toUpperCase()%> Shop Menyusi</span
          >

          <table class="table table-bordered table-hover">
            <thead class="thead-light">
              <th scope="col">T/r</th>
              <th scope="col">Brand nomi</th>
              <th scope="col">Brand turi</th>
              <th scope="col">Qurilma tezkor xotirasi</th>
              <th scope="col">Qurilma narxi</th>
              <th scope="col">Qurilma qoldiq miqdori</th>
              <th scope="col">Qurilma holati</th>
              <th scope="col">Qurilmani edit qilish</th>
            </thead>

            <% shop_data.map((value, key) => { %>

            <tbody style="background-color: #fff">
              <td><%= key + 1 %></td>
              <td><%= value.product_name %></td>
              <td><%= value.product_collection %></td>
              <td>
                <%= value.product_memory %>
              </td>
              <td><%= value.product_price %></td>
              <td><%= value.product_left_cnt %></td>
              <td>
                <select
                  class="spec_select new_product_status "
                  id="<%= value._id %>"
                >
                  <option value="PAUSED"  <%= value.product_status === 'PAUSED' ? 'selected' : ''
                    %>>
                   PAUSED
                  </option>
                  <option value="PROCESS"  <%= value.product_status === 'PROCESS' ? 'selected' : ''
                    %>>
                   PROCESS
                  </option>
                </select>
              </td>
              <td>
               <button class="spec_select product_edit">Edit product</button>
              </td>
            </tbody>

            <%}); %>
          </table>

          <div
            class="long_input"
            style="align-items: flex-end; margin-bottom: 25px"
          >
            <button class="btn btn-primary hidding_btn">Elektron qo'shish</button>
          </div>
        </div>
        <form
          onsubmit="return validateForm()"
          class="product_container"
          action="/abu_tech/products/create"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="long_input" style="display: flex; align-items: center">
            <span class="new_dish_txt">Yangi Elektron Qurilma</span>
          </div>

          <div>
            <div class="long_input">
              <label for="">Qurilma Nomi</label>
              <input
                type="text"
                placeholder="Qurilma Nomi"
                name="product_name"
                class="product_name"
              />
            </div>
            <input
              type="text"
              name="product_status"
              value="PAUSED"
              class="product_status"
              hidden
            />
          </div>

          <div class="half_input_frame">
            <div class="half_input">
              <label for="">Qurilma Narxi</label>
              <input
                type="number"
                placeholder="Qurilma Narxi"
                name="product_price"
                class="product_price"
              />
            </div>

            <div class="half_input">
              <label for="">Qurilma qoldiq miqdori</label>
              <input
                type="number"
                placeholder="Qurilma qoldiq miqdori"
                name="product_left_cnt"
                class="product_left_cnt"
              />
            </div>
          </div>
          <div class="half_input_frame">
            <div class="half_input">
              <label for="">Qurilma Turi</label>
              <select
                class="product_collection"
                name="product_collection"
                id=""
              >
                <option value="pc" selected>PC</option>
                <option value="laptop">Notebook</option>
                <option value="phone">Phone</option>
                <option value="accessories">Accessories</option>
            
              </select>
            </div>

            <div class="half_input" id="product_memory">
              <label for="">Qurilma Ichki Xotira Hajmi</label>
              <select class="product_memory" name="product_memory" id="">
                <option value="8">8gb</option>
                <option value="16" selected>16gb</option>
                <option value="32">32gb</option>
                <option value="64">64gb</option>
              </select>
            </div>

          </div>
             <div class="half_input_frame">
            <div class="half_input">
              <label for="">Qurilma Rangi</label>
              <select
                class="product_color"
                name="product_color"
                id=""
              >
                <option value="gold" selected>Gold</option>
                <option value="silver">Silver</option>
                <option value="titanium">Titanium</option>
                <option value="gray">Gray</option>
                <option value="etc">Boshqalar</option>
              </select>
            </div>

            <div class="half_input" id="product_brand">
              <label for="">Qurilma Brand</label>
              <select class="product_brand" name="product_brand" id="">
                <option value="apple">Apple</option>
                <option value="samsung" selected>Samsung</option>
                <option value="xiaomi">Xiaomi</option>
                <option value="microsoft">Microsoft</option>
                <option value="etc">Etc</option>
              </select>
            </div>

          </div>
          <div class="long_input">
            <label for="">Qurilma haqida</label>
            <textarea
              name="product_description"
              class="product_description"
              id=""
              cols="30"
              rows="10"
            ></textarea>
          </div>

          <div class="img_frame">
            <label for="">Qurilma Rasmlari</label>
            <div class="media_frame">
              <div class="upload_img_box">
                <img
                  src="/images/upload.png"
                  class="1"
                  id="image_section_1"
                  alt=""
                />
                <input
                  type="file"
                  id="file"
                  name="product_images"
                  class="image_one"
                  onchange="previewFileHandler(this, 1)"
                />
              </div>

              <div class="upload_img_box">
                <img
                  src="/images/upload.png"
                  class="2"
                  id="image_section_2"
                  alt=""
                />
                <input
                  type="file"
                  id="file"
                  name="product_images"
                  class="image_two"
                  onchange="previewFileHandler(this, 2)"
                />
              </div>

              <div class="upload_img_box">
                <img
                  src="/images/upload.png"
                  class="3"
                  id="image_section_3"
                  alt=""
                />
                <input
                  type="file"
                  id="file"
                  name="product_images"
                  class="image_three"
                  onchange="previewFileHandler(this, 3)"
                />
              </div>

              <div class="upload_img_box">
                <img
                  src="/images/upload.png"
                  class="4"
                  id="image_section_4"
                  alt=""
                />
                <input
                  type="file"
                  id="file"
                  name="product_images"
                  class="image_four"
                  onchange="previewFileHandler(this, 4)"
                />
              </div>

              <div class="upload_img_box">
                <img
                  src="/images/upload.png"
                  class="5"
                  id="image_section_5"
                  alt=""
                />
                <input
                  type="file"
                  id="file"
                  name="product_images"
                  class="image_five"
                  onchange="previewFileHandler(this, 5)"
                />
              </div>

              <input
                value="<%= member._id %>"
                name="shop_mb_id"
                class="shop_mb_id"
                hidden
              />
            </div>
          </div>

          <div
            class="long_input"
            style="align-items: flex-end; margin-bottom: 25px"
          >
            <button type="submit" class="btn btn-primary">
              Chop etish
            </button>
          </div>
          <div
            class="long_input"
            style="align-items: flex-end; margin-bottom: 25px"
           >
            <button class="btn btn-primary hidding_form">Bekor Qilish</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    $(function () {
      // $(".product_collection").on("change", () => {
      //   const selected_value = $(".product_collection").val();
      });

      $(".hidding_btn").on("click", function () {
        $(".product_container").slideToggle(500);
        $(".hidding_btn").css("display", "none");
      });

      $(".hidding_form").on("click", function () {
        $(".product_container").css("display", "none");
        $(".hidding_btn").slideToggle(500);
      });



      $(".product_edit").on("click", function () {
      window.location.replace("/abu_tech/products/menu");
      });

      // Yangi product statusi

      $(".new_product_status").on("change", async function(e) {
        const id = e.target.id;
        console.log(id);
        const product_status = $(`#${id}.new_product_status`).val();
        const mb_id = ` <%= member._id %> `;

        try{
          const url = `/abu_tech/products/edit/${id}`;
          console.log(url);
          const response = await axios.post(url, {id: id, product_status: product_status});
          console.log("response", response);
          const result = response.data;
          // console.log(result);

          if(result.state == "success") {
           Swal.fire("success!");
            location.reload();
          } else {
            alert(result.message)
          }

        }catch(err){
          console.log("updateChosenProduct err: ", err)
        }
      });
    //   $(".product_edit").on("change", async function(e) {
    //     const id = e.target.id;
    //     console.log(id);
    //     const product_edit = $(`#${id}.product_edit`).val();
    //     const mb_id = ` <%= member._id %> `;

    //     try{
    //       const url = `/abu_tech/products/edit/${id}`;
    //       console.log(url);
    //       const response = await axios.post(url, {id: id});
    //       console.log("response", response);
    //       const result = response.data;
    //       // console.log(result);

    //       if(result.state == "success") {
    //         alert("success");
    //         location.reload();
    //       } else {
    //         alert(result.message)
    //       }

    //     }catch(err){
    //       console.log("updateChosenProduct err: ", err)
    //     }
    //   });
    // });

    function validateForm() {
      const shop_mb_id = $(".shop_mb_id").val(),
        product_name = $(".product_name").val(),
        product_price = $(".product_price").val(),
        product_left_cnt = $(".product_left_cnt").val(),
        product_collection = $(".product_collection").val(),
        product_description = $(".product_description").val(),
        product_memory = $(".product_memory").val(),
        product_color = $(".product_color").val(),
        product_brand = $(".product_brand").val();
      

      if (
        shop_mb_id === "" ||
        product_name === "" ||
        product_price === "" ||
        product_left_cnt === "" ||
        product_collection === "" ||
        product_description === "" ||
        product_memory === ""
      
      ) {
        // alert(`Iltimos hamma ma'lumotlarni tog'ri kiriting!`);
        Swal.fire(`Iltimos hamma ma'lumotlarni tog'ri kiriting!`);

        return false;
      } else return true;
    }

    function previewFileHandler(input, order) {
      console.log(input);
      const image_class_name = input.className;
      const file = $(`.${image_class_name}`).get(0).files[0],
        fileType = file["type"],
        validImageTypes = [
          "image/jpg",
          "image/jpeg",
          "image/png",
          "image/webp",
        ];

      if (!validImageTypes.includes(fileType)) {
        alert(
          `Iltimos ruhsat etilgan rasm formatdagi rasmlarni yuklang! (jpg, jpeg va png)`
        );
      } else {
        if (file) {
          let reader = new FileReader();
          reader.onload = function () {
            $(`#image_section_${order}`).attr("src", reader.result);
          };
          reader.readAsDataURL(file);
        }
      }
    }
  </script>
</body>

<%- include('includes/footer') %>
